.currentTemp{
    border:1px solid #cecece;
}
.cityCurrentSource{
    width: 60px;
    height: auto;
    display: block;
}
.cities{
    border:1px solid #cecece;

}
.fiveDay{
    border:1px solid #cecece;


}
.fiveDayItem{
    margin: 3px auto;
}
.bold{
    font-weight: bold;
}

#recentSearches li{
    list-style-type: none;
  }

  @media only screen and (max-width: 992px){
      .currentTemp, .fiveDay, .cities{
          margin: 1rem auto;
      }

  }